#Ignore pyinstaller files
*.toc
*.spec
*.zip
*.txt
*.pyc
*.pkg
*.pyz

txt/open.py
cs117/bool.cpp
cs117/a.out
cs216/a.out
rustprac/guess_game/target/*
*.class
*.csv
*.s
*.out
.vscode/
rustprac/
photo_edit/
